<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<main class = "content">
    <div id = "graph_container">
        <div id="graph"></div>
    </div>
   
    <div>
        <span>Device Name:</span>
        <span>{{devices[id].name}}</span>
    </div>
    <div>
        <span>Address:</span>
        <span>{{devices[id].address}}</span>
    </div>
    <div>
        <span>Temp:</span>
        <span>{{devices[id].temp}} °C</span>
    </div>
    <div>
        <span>Longitude | Latitude:</span>
        <span>{{devices[id].lat}} | {{devices[id].lng}}</span>
    </div>
    <!-- <div *ngFor="let x of deviceTemps">
        <li>{{x['temp']}}</li>
    </div> -->
</main>
