.hot{
    background-color: salmon;
}

.acceptable{
    background-color: lightgreen;
}

.cold{
    background-color: lightblue;
}

#device_capsule_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#device_capsule{
    border: 1px solid black;
    width: 45%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    border-radius: 3% !important;
    justify-content: center;
}

#name_container{
    border-bottom: 2px solid black;
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 2%;
    
}

#info_container{
    padding: 3%;
    text-align: center;
    display: flex;
    font-size: .9rem !important;
    justify-content: center;
}

#info_container div{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    border: 1px solid black;
}
#button_container{
    display: flex;
    justify-content: center;
}
button{
    background-color: transparent;
    width: 75%;
}
